body {
    background-color: #f7f8f8;
};

.bordeTitulo {
    padding-top: 40px;
    padding-left: 24px;
    padding-bottom: 40px;
    padding-right: 24px;
}

.h1 {
    color: #222;
    font-family: 'Playfair Display', serif;
    font-size: 46px;
};

.barraNegra {
    height: 50px;
    width: 100%;
    background-color: #222;
    font-family: Verdana;
    font-size: 14px;
}

.hipervinculos {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
}